<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\Program Files\LuaDist-batteries-0.9.8-Windows-x86\Binaries-LuaDist-batteries-0.9.8-Windows-x86\bin\lua.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>E:\Program Files\LuaDist-batteries-0.9.8-Windows-x86\Binaries-LuaDist-batteries-0.9.8-Windows-x86\bin</StartWorkingDirectory>
  </propertyGroup>
</Project>